<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="First_lab" verbose="1">
    <test name="qa_lab_1">
        <classes>
            <class name="com.lnu.qa.firstlab.controllers.HarvestControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.FruitControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.TreeControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.VehicleControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.LicenseControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.VehicleLicenseControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.WealthControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.HouseControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.RoadControllerTest"/>
            <class name="com.lnu.qa.firstlab.controllers.TrafficControllerTest"/>
        </classes>
    </test>
</suite>
