<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Mail tests" verbose="1">
    <test name="1. Send email test">
        <classes>
            <class name="com.lnu.qa.secondlab.mail.yahoo.tests.SendMessageTest"/>
        </classes>
    </test>
    <test name="2. Draft email test">
        <classes>
            <class name="com.lnu.qa.secondlab.mail.yahoo.tests.DraftMessageTest"/>
        </classes>
    </test>
    <test name="3. Star and delete email test">
        <classes>
            <class name="com.lnu.qa.secondlab.mail.yahoo.tests.StarAndDeleteMessageTest"/>
        </classes>
    </test>
    <test name="4. Incorrect receiver test">
        <classes>
            <class name="com.lnu.qa.secondlab.mail.yahoo.tests.IncorrectReceiverTest"/>
        </classes>
    </test>
</suite>
